.idea
/.idea
.idea/

.vscode
/.vscode
.vscode/

node_modules
/node_modules
node_modules/

.env
/.env
.env/

*.pem
/*.pem
*.pem/

*.env
/*.env
*.env/

target
/target
target/

build
/build
build/  

application.properties
/application.properties
application.properties/

*.properties
/*.properties
*.properties/