.idea
/.idea
.idea/

.vscode
/.vscode
.vscode/

node_modules
/node_modules
node_modules/

.env
/.env
.env/

*.pem
/*.pem
*.pem/

*.env
/*.env
*.env/

target
/target
target/

build
/build
build/  

application.properties
/application.properties
application.properties/

*.properties
/*.properties
*.properties/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

**/*.class
**/*.log
**/*.pyc
**/*.swp
**/.DS_Store
**/.atom/
**/.buildlog/
**/.history
**/.svn/
**/migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

**/*.iml
**/*.ipr
**/*.iws
**/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/build/

# Symbolication related
app.*.symbols

**/app.*.symbols

# Obfuscation related
app.*.map.json

**/app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

**/android/app/debug
**/android/app/profile
**/android/app/release