<div class="container">
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <div class="field">
      <label for="email" class="label">Enter Email</label>
      <input
        class="input"
        name="email"
        [(ngModel)]="email"
        required
        type="email"
        pattern=".+@.+\..+"
        #emailCtl="ngModel"
        [ngClass]="{ 'is-danger': emailCtl.invalid && emailCtl.touched }"
      />
      <ng-container *ngIf="emailCtl.invalid && emailCtl.touched">
        <div class="help is-danger" *ngIf="emailCtl.errors?.['required']">
          You must enter an email
        </div>
        <div class="help is-danger" *ngIf="emailCtl.errors?.['pattern']">
          Please enter a valid email
        </div>
      </ng-container>
    </div>

    <button type="submit" [disabled]="emailForm.invalid">Submit</button>
  </form>
  <hr />
  <div>Is form valid: {{ emailForm.valid }}</div>
  <div>Form values: {{ emailForm.value | json }}</div>
</div>
